@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@400&display=swap');


* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      font-family: 'Source Code Pro', monospace;
      scroll-behavior: smooth;
}

body {
      width: 100%;
      height: auto;
      background: radial-gradient(ellipse at bottom, #013155 0%, #01162E 100%);
      /* background-color: #023047; */
}

/* nav */
header {
      width: 100%;
      height: 100vh;
}

h4 {
      position: absolute;
      padding: 1rem;
      margin-left: 4em;
      font-size: 1.4rem;
      color: white;
      letter-spacing: 2px;
      font-weight: 400;
}

.navbar {
      display: flex;
      width: 100%;
      height: 10rem;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 2rem;
      z-index: 3;
}

.menu {
      width: 50%;
}

.menu ul {
      display: flex;
      width: 100%;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 2rem;
}

.menu ul li {
      margin: 1rem;
      list-style: none;
}

.menu ul li a {
      text-decoration: none;
      font-size: 1.4rem;
      color: white;
}

.menu ul li a:hover {
      color: #4895ef;
}

.menu-toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3 ease-in-out;
      background-color: white;
}

/* main */
main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      z-index: 2;
      position: relative;
      top: -40em;
}

.main-title h2 {
      font-size: 3.5rem;
      color: #a5a58d;
      padding: 1rem;
      letter-spacing: 2px;
      position: relative;
      top: -4rem;
      left: 2rem;
      font-weight: 400;
}

.main-title h3 {
      font-size: 2rem;
      letter-spacing: 1px;
      color: #a5a58d;
      padding: 1rem;
}

.main-title h4 {
      font-size: 1.5rem;
      color: #a5a58d;
      padding: 1rem;
      letter-spacing: 1px;
}

.main-title p {
      font-size: 1.5rem;
      padding: 1.5rem;
      max-width: 100em;
      color: white;
      letter-spacing: 1px;
}

.main-title button {
      font-size: 1.2rem;
      width: 200px;
      margin: 2rem;
      padding: 0.9rem 2rem;
      border-radius: 5px;
      box-shadow: 10px 10px 5px 2px #4895ef;
      cursor: pointer;
      transition: ease 0.3s;
}

.main-title button:hover {
      font-size: 1.4rem;
      box-shadow: 12px 12px 5px 2px #4895ef;
}

.icons {
      display: flex;
      width: 20%;
      height: 4rem;
      justify-content: space-around;
      position: relative;
      top: 6rem;
}

.icons,
.icon {
      text-decoration: none;
      color: white;
      font-size: 2em;
      cursor: pointer;
}

.icons,
.icon:hover {
      color: #4361ee;
}

/* stars background animation */
.starBackground {
      min-height: 100vh;
}

.star {
      position: absolute;
      background: white;
      border-radius: 50px;
      animation: move;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      z-index: 1;
}

​ .type-1 {
      width: 1px;
      height: 1px;
}

.type-2 {
      width: 2px;
      height: 2px;
}

.type-3 {
      width: 3px;
      height: 3px;
}

@keyframes move {
      0% {
            transform: translateY(0);
      }

      100% {
            transform: translateY(-1000px);
      }
}



/* @media only screen and (max-width: 30rem) {
      .home-title h1 {
            font-size: 2rem;
            font-size: 9vw
      }
}

@media only screen and (min-width: 45rem) {
      .home-title h1 {
            font-size: 4.5rem;
            font-size: 9vw
      }
}

@media only screen and (min-width: 75rem) {
      .home-title h1 {
            font-size: 6.75rem
      }
} */


#orbit-photo {
      position: relative;
      width: 18em;
      height: 12em;
      margin: 0;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      tap-highlight-color: transparent;
}

#orbit-photo .system {
      position: relative;
      width: 100%;
      height: 100%
}

.preserve3d #orbit-photo .system {
      -webkit-transform: rotateX(75deg) rotateY(-30deg);
      transform: rotateX(75deg) rotateY(-30deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d
}

#orbit-photo .satellite-orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20em;
      height: 16em;
      margin-top: -11em;
      margin-left: -11em;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-animation-name: orbit;
      animation-name: orbit;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear
}

#orbit-photo .satellite {
      position: absolute;
      left: 40%;
      top: 20%;
      width: 3em;
      height: 3em;
      margin-top: -1.5em;
      margin-left: -1.5em;
      background-color: #bbadff;
      border-radius: 50%;
      box-shadow: 10px 10px 8px 3px #e0c3fc;
}

.preserve3d #orbit-photo .satellite {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-animation-name: invert-orbit;
      animation-name: invert-orbit;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear
}

#photo {
      position: relative;
      top: 1rem;
      left: 1rem;
      width: 8em;
      height: 7em;
      margin-top: 3.5em;
      margin-left: 2.8em;
      overflow: hidden;
      opacity: 0.75
}


@-webkit-keyframes orbit {
      0% {
            -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
      }

      100% {
            -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg)
      }
}

@keyframes orbit {
      0% {
            -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg)
      }

      100% {
            -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg)
      }
}

@-webkit-keyframes invert-orbit {
      0% {
            -webkit-transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
            transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg)
      }

      100% {
            -webkit-transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
            transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg)
      }
}

@keyframes invert-orbit {
      0% {
            -webkit-transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg);
            transform: rotateZ(360deg) rotateY(30deg) rotateX(-75deg)
      }

      100% {
            -webkit-transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
            transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg)
      }
}
